.spin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.Cards {
  height: 465px;
}
.mySpan {
  transition: .5s;
}
.Cards:hover .mySpan {
  transform: scale(0.97);
}
.myBtn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.add, .del {
  transform: scale(1.5);
  margin-right: 10px;
  margin-bottom: 3px;
}